name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use project directory from secret
        run: |
          echo "Project directory is: ${{ secrets.PROJECT_DIR }}"

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "
            cd ${{ secrets.PROJECT_DIR }} && \
            git pull origin main && \
            npm install && \
            pm2 restart all
          "
